


@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right dropdown">


    <li class="">

        @Html.ActionLink("Add Student", "Register", "Register")
    </li>
    <li>
        @Html.ActionLink(" Details","Index", "Register")
       


    </li>
    <li><a href="@Url.Action("Logout","Login")">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
       
        <li>@Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
